.page-container
  = form_with(model: article) do |form|
    - if article.errors.any?
      %div.text-red-600
        %h2.text-lg.font-bold
          = pluralize(article.errors.count, 'error')
          prohibited this article from being saved:
        %ul.list-disc.list-inside
          - article.errors.each do |error|
            %li= error.full_message

    .mb-5
      = form.label :title, class: 'form-label'
      = form.text_field :title, class: 'form-field w-full', required: true, placeholder: 'Teenage Mutant Emo Reindeer'

    .mb-5
      = form.label :banner_text, class: 'form-label'
      = form.text_field :banner_text, class: 'form-field w-full', placeholder: sanitize(default_tagline, tags: [])

    .mb-5
      = form.label :category, class: 'form-label'
      = form.select :category, Article.categories.keys.map { |key| [key.humanize, key] }, { include_blank: 'Select a category' }, class: 'form-field w-full', required: true
    
    .mb-5
      = form.label :featured_image, class: 'form-label'
      = form.file_field :featured_image, class: 'form-field w-full'

    - if article.featured_image.attached?
      .thumbnail-preview
        = image_tag article.featured_image.variant(resize_to_limit: [150, 150])

    .mb-5
      = form.label :body, class: 'form-label'
      = form.rich_text_area :body, class: 'form-field w-full min-h-[6em] sm:min-h-[12em]', required: true

    .mb-4
      = form.submit 'Submit', class: 'primary-button'
