%p{:style => "color: green"}= notice

%article.page-container
  %header.mb-8.px-2
    %p.my-2
      Filed under 
      %b Articles
    %h1.font-serif.text-5xl.leading-tight.tracking-tight.my-2.text-balance
      = @article.title
    %p.my-2
      Published on 
      %b= @article.created_at.strftime('%B %d, %Y')

  - if @article.featured_image.attached?
    %div.my-8.sm:px-2
      = image_tag @article.featured_image.variant(resize_to_limit: [600, 600]), class: 'w-full'

  .article-content.prose.lg:prose-xl.px-2
    = @article.body

%div
  = link_to "Edit this article", edit_article_path(@article)
  
  \#{button_to "Destroy this article", @article, method: :delete}
