<!DOCTYPE html>
<html lang="en" class="bg-princess-purple scrollbar scrollbar-track-pink-100 scrollbar-thumb-princess-purple">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title><%= page_title %></title>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="mobile-web-app-capable"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link href="/icon.png" rel="icon" type="image/png"/>
    <link href="/icon.svg" rel="icon" type="image/svg+xml"/>
    <link href="/icon.png" rel="apple-touch-icon"/>
    <%= stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white">
    <div class="bg-princess-purple">
      <a href="#main-content" class="sr-only focus:visible focus:static focus:left-2 focus:top-2 focus:bg-princess-pink focus:text-white focus:p-2 focus:rounded font-serif text-lg tracking-wide font-bold">
        Skip to main content
      </a>
    </div>
    <%= render 'layouts/header' %>
    <main id="main-content">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html> 