!!!
%html.bg-princess-purple.scrollbar.scrollbar-track-pink-100.scrollbar-thumb-princess-purple{:lang => 'en'}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title= content_for(:title) || 'Princess Purple Pink'
    %meta{:content => 'width=device-width,initial-scale=1', :name => 'viewport'}/
    %meta{:content => 'yes', :name => 'apple-mobile-web-app-capable'}/
    %meta{:content => 'yes', :name => 'mobile-web-app-capable'}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => '/icon.png', :rel => 'icon', :type => 'image/png'}/
    %link{:href => '/icon.svg', :rel => 'icon', :type => 'image/svg+xml'}/
    %link{:href => '/icon.png', :rel => 'apple-touch-icon'}/
    = stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload'
    = stylesheet_link_tag :app, 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body.bg-white
    .bg-princess-purple
      %a.sr-only.focus:visible.focus:static.focus:left-2.focus:top-2.focus:bg-princess-pink.focus:text-white.focus:p-2.focus:rounded.font-serif.text-lg.tracking-wide.font-bold{:href => '#main-content'}
        Skip to main content
    = render 'layouts/header'
    %main#main-content
      = yield
    = render 'layouts/footer'
